.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url('/assets/bibliotheque.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 25vh;
  width: 50vw;
  background-image: cover;
  object-fit: cover;
  align-content: center;
}

.banner1 {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url('/assets/bibliotheque.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  width: 600px;
  padding-left: 60px;
  background-image: cover;
  object-fit: cover;
  align-content: center;
  text-align: center;
}
.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 65px;
  font-family: Raleway;
  font-style: normal;
  line-height: 56px;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 10;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}
